<div class="benefits-page">
  <div class="page-info">
    <h1 class="page-title">Benefits Management</h1>
    <div class="page-description">
      <svg-icon src="assets/icons/info-icon.svg"></svg-icon>
      <p>
        Manage benefits for each employee. Click on benefit to activate or
        deactivate it.
      </p>
    </div>
  </div>
  <div class="select">
    <app-single-select
      label="Employee"
      [required]="true"
      placeholder="Select employee"
      [dataSource]="users"
      propertyToDisplay="full_name"
      propertyToSelect="id"
      [(inputModel)]="selectedUserId"
      (inputModelChange)="onUserChange()"
    ></app-single-select>
  </div>
  <div class="benefits-container">
    <div
      *ngFor="let benefit of allBenefits"
      (click)="onClick(benefit)"
      class="benefit-box"
      [ngClass]="{ active: isBenefitActive(benefit) }"
    >
      <p>{{ benefit.name }}</p>
    </div>
  </div>
</div>
