@use "/src/scss/variables" as *;

.configuration-page {
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
    align-items: flex-start;

    .left,
    .right {
      padding: 2.2rem;
      box-shadow: 0 3px 10px 0 rgba(1, 1, 1, 0.07);
      background-color: #fff;
    }

    .left {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;

      img {
        border-radius: 50%;
        height: 14rem;
        width: 14rem;
      }

      .user-info {
        color: #333;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.6rem;

        h2 {
          font-size: 2.4rem;
        }

        p {
          color: #666;
        }
      }
    }

    .right {
      color: #333;

      .title {
        font-size: 2rem;
        margin-bottom: 0.8rem;
      }

      .info {
        font-size: 1.4rem;
        color: #666;
      }

      .group-heading {
        display: flex;
        align-items: center;
        gap: 4px;

        .icon {
          height: 18px;
          width: 18px;

          svg {
            fill: #44a8ff;
          }
        }

        h2 {
          font-size: 1.6rem;
          color: #555;
          font-weight: 400;
          text-transform: capitalize;
        }

        margin: 2.6rem 0;
        margin-bottom: 1.8rem;
      }

      .group {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
      }

      .row {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 18px;
      }

      .input-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h3 {
          font-size: 1.6rem;
          font-weight: 500;

          span {
            color: rgb(170, 6, 6);
            margin-left: 3px;
          }
        }

        input {
          border: none;
          background-color: #f4f4f4;
          padding: 0.9rem 0.8rem;
          // border-bottom: 1px solid #888;
          outline: none;
          color: $c-gray-2;
          font-family: "Inter", sans-serif;
          font-size: 1.4rem;
        }

        position: relative;
      }

      .controls {
        margin-top: 2.8rem;
        width: 100%;
        display: flex;
        gap: 15px;

        .button {
          cursor: pointer;
          text-align: center;
          display: inline-flex;
          color: #fff;
          background-color: #fff;
          font-size: 1.4rem;
          margin-top: 1rem;
          padding: 1rem 2rem;
          transition: all 0.2s ease;
          box-shadow: 0 0 10px 5px rgba(1, 1, 1, 0.03);
          background-color: #22c55e;

          &.deactivate {
            background-color: #c52222;

            &:hover {
              box-shadow: 0 0 20px 0 rgba(#c52222, 0.5),
                0 0 10px 0 rgba(246, 246, 246, 0.3) inset;
            }
          }

          &.disabled {
            background-color: #b5b5b5;

            &:hover {
              box-shadow: none;
              transform: none;
            }
          }

          &:hover {
            color: #fff;
            transform: scale(1.01);
            box-shadow: 0 0 20px 0 rgba(#22c55e, 0.5),
              0 0 10px 0 rgba(246, 246, 246, 0.3) inset;
            border: none;
          }
        }
      }
    }
  }
}
