<div class="configuration-page">
  <div class="page-info">
    <div class="left">
      <h1 class="page-title">Configuration</h1>
      <div class="page-description">
        <svg-icon src="assets/icons/info-icon.svg"></svg-icon>
        <p>
          Overview of available languages, skills, benefits and working
          positions.
        </p>
      </div>
    </div>
    <app-icon-button buttonText="New item" [showIcon]="true" />
  </div>
  <div class="container">
    <app-accordion
      title="Languages"
      [openedByDefault]="true"
      [items]="this.languages"
      [configurationItemType]="configurationType.LANGUAGE"
      (itemDeletedEvent)="reloadItem(configurationType.LANGUAGE)"
    ></app-accordion>
    <app-accordion
      title="Skills"
      [items]="this.skills"
      [configurationItemType]="configurationType.SKILL"
      (itemDeletedEvent)="reloadItem(configurationType.SKILL)"
    ></app-accordion>
    <app-accordion
      title="Benefits"
      [items]="this.benefits"
      [configurationItemType]="configurationType.BENEFIT"
      (itemDeletedEvent)="reloadItem(configurationType.BENEFIT)"
    ></app-accordion>
    <app-accordion
      title="Working Positions"
      [items]="this.workingPositions"
      [configurationItemType]="configurationType.WORKING_POSITION"
      (itemDeletedEvent)="reloadItem(configurationType.WORKING_POSITION)"
    ></app-accordion>
  </div>
</div>
