@use "/src/scss/_variables.scss" as *;

.configuration-page {
  color: #333;
  position: relative;

  .page-info {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    align-items: center;

    .left {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
    }

    .page-title {
      font-family: "Inter", sans-serif;
      font-size: 2.4rem;
    }

    .page-description {
      display: flex;
      align-items: center;
      gap: 5px;

      svg {
        width: 16px;
        height: 16px;
        fill: $accent-color;
      }

      p {
        color: #555;
        font-size: 1.4rem;
      }
    }
  }

  .container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
