@use "/src/scss/_variables.scss" as *;

.users-page {
    color: #333;

    .page-info {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        font-family: sans-serif;

        .page-title {
            font-family: "Inter", sans-serif;
            font-size: 2.4rem;
        }

        .page-description {
            display: flex;
            align-items: center;
            gap: 5px;

            svg {
                width: 16px;
                height: 16px;
                fill: $accent-color;
            }

            p {
                color: #555;
                font-size: 1.4rem;
            }
        }
    }

    .table-container {
        // box-shadow: 0 5px 10px 5px rgba(1, 1, 1, 0.05);
    }
}