@use "/src/scss/variables" as *;

h3 {
  font-size: 1.6rem;
  font-weight: 500;

  span {
    color: rgb(170, 6, 6);
    margin-left: 3px;
  }
}

.ng-select.ng-no-value .ng-select-container .ng-value-container .ng-value {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: #a8a8a8 !important;
  padding-right: 7px !important;
}
